<ion-header>
  <ion-navbar>
    <ion-title>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4 padding-bottom>About the Byteball Cashback App</h4>
  <p>
    Byteball is a <strong>new generation</strong>
    of Distributed Ledger Technologies based
    on a Directed Acyclic Graph (DAG).
  </p>
  <p>
    The <strong>native cryptocurrency</strong>
    of the Byteball platform are <strong>Bytes</strong>. You can find more details about Byteball
    <a href="https://byteball.org" target="_system">here</a>.
  </p>
  <p>
    Mass adoption of Cryptocurrencies requires wide distribution,
    that's why <strong>99% of all Bytes will be distributed for free.</strong>
  </p>
  <p>
    One of the distribution methods is the <strong>Cashback program.</strong>
    You can find all details
    <a target="_system"
       href="https://medium.com/byteball/byteball-cashback-program-9c717b8d3173">
      here
    </a>.
  </p>
  <br>
  <p>
    For you as a merchant the <strong>advantages are significant</strong>:
  </p>
  <ul>
    <li>
      You can offer up to 20% Cashback <strong>without any cost for you</strong>
      – the 20% Cashback are paid to your customers directly by Byteball.
      That means, that <strong>your customers effectively pay 20% less</strong>,
      which gives you an competetive advantage
    </li>
    <li>
      You can target a growing market of crypto enthusiasts and <strong> get more
      customers with this Cashback offer.</strong>
    </li>
  </ul>
  <p>
    Fill out the
    <a target="_system"
       href="https://medium.com/byteball/byteball-cashback-program-9c717b8d3173">
      application form
    </a> or
    <a href="mailto:byteball@byteball.org" target="_system">contact us</a>
    if you want to be part of the Cashback program.
  </p>
  <p>
    <strong>This app has the purpose</strong> to make <strong>your life as easy as
    possible </strong> to participate in the Byteball Cashback program.
  </p>
  <p>
    It is recommended that you <strong>make yourself familiar with the
    <a href="https://byteball.org" target="_system">Byteball platform</a>
  </strong> to be able to answer questions
    of your customers regarding Byteball.
  </p>
  <h4 padding-top>Contributors</h4>
  <ul>
    <li>
      Antonius Gress
    </li>
    <li>
      Rui Lun Tran
    </li>
  </ul>
  <h4 padding-top>Github</h4>
  <p>
    If you like to contribute. Please find the Repo here:
    <a href="https://github.com/myactivities/byteball-cashback-app"
       target="_system">
      https://github.com/myactivities/byteball-cashback-app
    </a>
  </p>
</ion-content>
