<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="settings" (ngSubmit)="saveSettings()">
    <ion-item>
      <ion-label color="primary" stacked>Cashback partner ID</ion-label>
      <ion-input type="email" formControlName="partner"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Cashback partner key</ion-label>
      <ion-input type="email" formControlName="partner_key"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Default currency</ion-label>
      <ion-select formControlName="currency">
        <ion-option value="EUR">EUR</ion-option>
        <ion-option value="USD">USD</ion-option>
        <ion-option value="RUR">RUR</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Default cashback percentage</ion-label>
      <ion-input type="number" formControlName="partner_cashback_percentage"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Business type</ion-label>
      <ion-select formControlName="customer">
        <ion-option value="restaurant">Restaurant</ion-option>
        <ion-option value="shop">Shop</ion-option>
      </ion-select>
    </ion-item>
    <div padding-top>
      <ion-buttons>
        <button ion-button full type="submit" [disabled]="!settings.valid">
          Save & Close
        </button>
      </ion-buttons>
    </div>
  </form>

</ion-content>
